{{#each products}}
<div class="cube">
        <img class="cube" src="/static/images/{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Price: </span>{{price}}</p>
        <a class="btn" href="/details/{{id}}">Details</a>
        <a class="btn more">Show more</a> 
        <div class="description">I`m a test description js client code:))</div>
      </div>
{{/each}}